@import '../../../styles/variables.scss';

.card {
  padding: 2em;
  border: 8px dashed $col-primary;
  background: $col-light;
  box-shadow: inset 0 0 8px $col-dark, 0 0 50px $col-light;
  text-align: center;

  &__header {
    margin-bottom: 1em;
  }
}